:root {
	--white: #f5f5f5;
	--dark-grey: #4d4d4d;
	--light-grey: #e5e5e5;
	--black: #0f0e12;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-weight: 100;
}

html {
	font-size: 10px;
}

body {
	font-family: sans-serif;
	background-color: var(--black);
	color: var(--white);
	width: 100%;
	height: 100%;
}

.container {
	display: grid;
	margin: 5vw;
	grid-row-gap: 1vw;
	justify-content: center;
}
